

<h1>Add New Account</h1>
<form action="users/insert" method="get">
    User name: <input id="user_name" name="user_name" type="text" />
    <br />
    <br />
    Email address: <input id="user_email" name="user_email" type="text" />
    <br />
    <br />
    Password: <input id="user_password" name="user_password" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
<br/>
<a href="/account/all">Back to accounts</a>
