.headerBar{
	width: 100%;
	height: 100px;
	background-color: red;
	padding: 10px;
}

.headerMainText{
	font-size: 48px;
	color: black;
}

.btn-hamburgerMenu{
	background-color:rgba(0, 0, 0, 0);
}

.hamburgerMenuGlyph {
    font-size: 42px;
}

.hamburgerArea {
	float: left;
}

.logoArea{
	padding-left: 20px;
	float: left;
	text-align: left;
}