.searchBarWidget{
	width: 502px;
	display: inline-block;
	margin: 0px;
}


.searchBar{
	float: left;
	border: 1px solid black;
	border-radius: 3px;
	color: yellow;
	height: 44px;
	width: 500px;
	padding: 0px;

}

.searchBar .textArea{
	border: 0px solid;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	height: 44px;
	width: 440px;
	float: left;
	font-size: 14px;
}

.searchBar .textArea:focus {
	outline: none;
}

input.searchBtn{
    background:url(../assets/searchBlack.svg);
    background-repeat: no-repeat;
	background-size: 24px;
	background-position: center;
    width:44px;
	height: 44px;
	margin: 0px;
	padding: 0px;
	border: 0px solid;
	cursor: pointer;
	float: left;
}

.searchResultContents{
	width: 500px;
	max-height: 300px;
	overflow-y: scroll;
	border: 1px solid black;

	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.searchResult{
	width: 473px;
	height: 40px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
	color: black;
}

.searchResult:hover{
	background-color: #e8edef;
	cursor: pointer;
}

.resultPic{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
}

.resultTextArea{
	float: left;
	width: 420px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	text-align: left;
	font-size: 16px;
}

.mainText{
	color: #000000;
}

.secondText{
	color: #707173;
}
